// React animations
.toggle-enter {
  opacity: 0.01;
}
.toggle-enter.toggle-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.toggle-leave {
  opacity: 1;
}
.toggle-leave.toggle-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

// Transformations
.rotated {
  transform: rotate(180deg);
}
