$max-width: 1170px;

.group:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  @include outer-container;
  padding: 1em;
}

@for $i from 1 through 12 {
  .span-#{$i} {
    @include span-columns($i);
  }
}
