h1 {
  font-family: $norican;
  font-weight: 400;
  font-size: 4em;
}
h4 {
  font-family: $roboto;
  font-size: 1.65em;
  font-weight: 500;
}

.title {
  font-family: $roboto;
}
.message {
  font-family: $roboto;
}

button, input, a {
  font-family: $roboto;
}
